table {
	user-select: none;
	border-collapse: collapse;
	width: 98%;

	margin: 10px;
	th {
		padding: 8px;
		text-align: center;
		color: #000;
		border: 1px solid #ddd;
    background: #9e56f1;
	}

	td {
		border: 1px solid #ddd;
		padding: 8px;
		width: fit-content;
	}
	tr:nth-child(even) {
		background-color: #f2f2f2;
	}
	tr:hover {
		background-color: #ddd;
	}
}
